.footergrids{
    display: grid;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-areas: "extra  sponsors links";
}
@media screen and (max-width: 480px){
    .eleginos{
        font-size: 14px;
    }
    .itemnosotros{
        padding: 5px;
    }
    .img_nosotros{
        height: 300px;
        padding: 10px
    }
    .como{
        font-size: 14px;
    }
    .donde{
        font-size: 14px;
    }
    .myv{
        font-size: 14px;
    }
    .card-text{
        text-align: center;
        font-size: 10px;
    
    }
    .galeria{
        padding: 5px;
        gap: 5px;
    }
    
    .footerextra{

        font-size: 0px;

    }
    .footersponsors{
        font-size: 12px;
    }

    #logoyt{
    display: none;
    }
    #logosc{
        display: none;

    }

    .logo{
        position: relative;

    
        height: 25vh;
        width: 70vw;
    
    }
    .nav-item{
        font-size: 12px;
    
        margin-top: 3px;
    }


    .contactanos{
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 15px;
    
    }

    .mapa{
        border-radius: $bor_rad;
        width: 70%;
        height: 70%;
    }

    .titulo2{

        font-size: 15px;

    }
    .titulo{

        font-size: 30px;

    }
    .escuela_texto{
        font-size: 20px;
    }
    .aprende_img:hover{
        cursor: crosshair;
        width: 150px;
        height: 150px;
        opacity: 1;
        filter: contrast(120%);

}
}
@media screen and (min-width: 430px){
        .logo{
            position: relative;

    
            height: 25vh;
            width: 60vw;
    
    }

}


@media screen and (min-width: 481px){
    .itemnosotros{
        padding: 10px;
    }
    .eleginos{
        font-size: 14px;
    }
    .img_nosotros{
        height: 350px;
        padding: 10px
    }
    .como{
        font-size: 16px;
    }
    .donde{
        font-size: 16px;
    }
    .myv{
        font-size: 16px;
    }
    .card-text{
        text-align: center;
        font-size: 13px;
    
    }
    .galeria{
        padding: 8px;
        gap: 8px;
    }
    
    .footerextra{

        font-size: 10px;

    }
    .footersponsors{
        font-size: 13px;
    }


    .mapa{
        border-radius: $bor_rad;
        width: 70%;
        height: 70%;
    }
    
    .titulo{

        font-size: 30px;

    }
    
    .titulo2{
        
        font-size: 35px;

    }
    
    .logo{
        position: relative;

    
        height: 25vh;
        width: 60vw;
    
    }  
}
@media screen and (min-width: 600px){
        .logo{
            position: relative;

    
            height: 25vh;
            width: 50vw;
    
    }

}




@media screen and (min-width: 700px){
    .itemnosotros{
        padding: 13px;
    }
    .eleginos{
        font-size: 16px;
    }
    .img_nosotros{
        height: 400px;
        padding: 10px
    }
    .como{
        font-size: 18px;
    }
    .donde{
        font-size: 18px;
    }
    .myv{
        font-size: 18px;
    }


    .footerextra{

        font-size: 13px;

    }
    .footersponsors{
        font-size: 18px;
    }

    .logo{
        position: relative;

    
        height: 25vh;
        width: 40vw;
    
    }  
    .card-text{
        text-align: center;
        font-size: 18px;
    
    }
    .galeria{
        padding: 10px;
        gap: 10px;
    }
    .mapa{
        border-radius: $bor_rad;
        width: 70%;
        height: 70%;
    }

    .titulo{

        font-size: 55px;

    }
    
    .titulo2{
        
        font-size: 55px;

    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .itemnosotros{
        padding: 15px;
    }
    .eleginos{
        font-size: 18px;
    }
    .img_nosotros{
        height: 500px;
        padding: 10px
    }
    .como{
        font-size: 20px;
    }
    .donde{
        font-size: 20px;
    }
    .myv{
        font-size: 20px;
    }
    .nav-item{
        font-size: 20px;

    }
    .footerextra{

        font-size: 15px;

    }
    .footersponsors{
        font-size: 18px;
    }

    .logo{
        position: relative;

    
        height: 25vh;
        width: 30vw;
    
    }  
    .mapa{
        border-radius: $bor_rad;
        width: 70%;
        height: 70%;
    }
    .contenedor{
        display: grid;
        grid-template-rows: 10%,50%,30%,10%;
        grid-template-areas:    "encabezado"
                                "principal"
                                "info"
                                "footer"
    } 
    .titulo2{
        font-size: 45px;
    }

    
}
@media screen and (min-width: 1024px){
    .itemnosotros{
        padding: 20px;
    }
    .eleginos{
        font-size: 20px;
    }
    .img_nosotros{
        @include ancho_alto($width0, $height0);
        padding:0px
    }
    .contenedor{
        display: grid;
        grid-template-rows: 1fr,3fr,3fr,1fr;
        grid-template-areas:    "encabezado"
                                "principal"
                                "info"
                                "footer"

    } 
    

.footerextra{

    font-size: 18px;

}
.footersponsors{
    font-size: 21px;
}


    .titulo{

        font-size: 70px;

    }
    .nav-item{
        padding-bottom: 20px;
        font-size: 18px;
    }
        
    .logo{
        position: absolute; 
        top: 0;
        left: 0;
        border-radius: $bor_rad;
        display: inline-block;
        padding: 10px;
        height: 23vh;
        width: 23vw;

    }
}
