.eleginos{
    list-style-type: square;
    font-size: 20px;
}

.beats{
    display: inline-block;
    margin: 50px;
    padding: 20px;
    color: $primary;
    text-decoration: none;
    border-style:dashed
}