.escuela_texto{
    font-size: 25px;
    text-align: center;
    color: $other;

}

.galeria_aprende{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.aprende_img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.aprende_img:hover{
            cursor: crosshair;
            width: 300px;
            height: 300px;
            opacity: 1;
            filter: contrast(120%);

}
